/* * {
  margin: 0px;
  padding: 0px;
} */


/* body {
  margin: 0;
  padding: 0;
  display: inline-block;
} */

/* #title {
  display: inline-block;
  width: 100%;
} */

#color-palette {
  display: inline-block;
  /* margin: 0px; */
  /* padding: 0px; */


}


.color {
  box-sizing: border-box;
  display: inline-block;
  border: solid 1px black;
  width: 40px;
  height: 40px;
}


.selected {
  /* border: solid 2px yellow; */
}



.black {
  background-color: black;
  /* color: black; */
}
.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.green {
  background-color: green;
}

.pixel {
  display: inline-block;
  box-sizing: border-box;
  border: solid 1px black;
  height: 40px;
  width: 40px;
  color: #ffffff;
}

#pixel-board {
  /* display: inline-block; */

  box-sizing: border-box;
  padding: 0px;
  margin: 0px; 
  width: 220px;
  height: 220px;
}



  /* display: flex;
  flex-flow: row wrap; */

/* display: inline-grid; */
/* box-sizing: border-box; */
/* max-width: 200px; */

/* max-height: 200px; */
  /* margin-left: 35px; */
  /* min-width: 780px; */


