
section{
  /* margin: 0; */
  /* padding: 0; */
  /* margin: 0; */
  /* padding: 0; */
  /* display: flex;
  flex-direction: column; */
  
}




div{
  margin: 0;
  padding: 0;
}
.color {
  /* box-sizing: border-box; */
  display: inline-block;
  border: 1px solid black;
  /* width: 40px; */
  /* height: 40px; */
  background-color: white;
  
  width: 50px;
  height: 50px;
  margin-right: 5px;

}

.pixel {
  display: inline-block;
  /* display: inline-grid; */
  

  box-sizing: border-box;
  border: 1px solid black;
  height: 40px;
  width: 40px;
  margin-right: 4px;
  /* margin-bottom: 0; */
  /* margin-top: 0; */
  
}

input{
  width: 40px;
}

.control-container {
  background-color: #fff;
  text-align: center;
  width: 200px;
}

